
.global-layout {
	display: flex;
	flex-direction: row;
}

.move-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 250px;
}

.action-button {
    background-color: #0069d9;
    border-radius: .4rem;
    color: #fff;
    cursor: pointer;
	line-height: 2em;
	text-align: center;
	margin: 3px;
	font-family: Roboto, sans-serif;
	max-width: 150px;
}

.move-button {
	width: 30%;
}

.action-button:hover {
    background-color: #0092ff;
}


.sequence-button-container {
	border: black 1px dotted;
}

.remove-sequence {
	width: 15px;
	height: 15px;
	text-align: center;
	background-color: red;
	cursor: pointer;
}

